/*****************************************************************************/     
/* pour presenter un texte interlineaire                                    **/
/*****************************************************************************/  
table.it {
	border-collapse: separate;
}
.transcriptTable { 
	border-collapse:collapse;
	vertical-align:middle;
	background-color:#F0E2C8;
}

.segmentInfo {
	background-color:#ff9900;
	color:White;
	vertical-align:top;
	/**
	width:60px;
	**/
}

.segmentContent {

	width:600px;
	

}


.sentence {
	
	border-collapse: separate ;
	display: inline;
	vertical-align:middle;
	text-align:left;
	
}

/*Couleur de la phrase de transcription*/
.word_sentence{

	font-family:'caslon','Arial Unicode MS','Lucida sans unicode','Code2000',sans-serif;
	border-collapse: separate ;
	display: inline;
	color:#000066;
	font-size:16px;
	text-align:left;
	font-weight: bold;

}

/*Couleur de la phrase de traduction*/
.translation {
	
	font-family:'Arial Unicode MS','Lucida sans unicode','Code2000',sans-serif;
	/*color:#ff9900;*/
	color:#FF6600;
	text-align:left;
	
}
.word                     { 
	border-collapse: separate ;
	display: inline;
	vertical-align:middle;
	text-align:left;

	
}

.word_tab                     { 
	vertical-align:middle;
	text-align:left;
	
}
.word_form {
	/*background-color:#FEF1D4;*/
	font-family:'caslon','Arial Unicode MS','Lucida sans unicode','Code2000',sans-serif;
	font-weight: bold; 
	text-align:left;
	color: #000000;
	
	
	
}
.word_transl {
	font-family:'caslon','Arial Unicode MS','Lucida sans unicode','Code2000',sans-serif;
	/*background-color:#FEF1D4;*/
	text-align:left;
	
}
.transcription {
	font-family:'caslon','Arial Unicode MS','Lucida sans unicode','Code2000',sans-serif;
	text-align:left;
	display:inline;
	font-weight: bold; 
}
img     { border: solid 0px;}
a.img { 
	color: black;
	border-color: black;
}
/*****************************************************************************/     

td.haut {
	border-top: 1px solid #F09415;
	border-right: 1px solid #F09415;
	height: 500px;
}
table.frameset {
	border-right: 1px solid #F09415;
	border-bottom: 1px solid #F09415;
	width:  751px;
}
table.content {
	 width: 100%;
	 border: 0;
}
table.content td {
	padding: 10px;
}
table.menuTable {
	width: 95%;
	border: 1px solid #F09415;
	border-collapse: collapse;
}
table.menuTable td {
	border: 1px solid #F09415;
	padding: 5px;
}
table.menuTable td.sans_cadre {
	border: 0;
	padding: 5px;
}
td.illustration  {
	background: url("../../img/illustration.gif");
	border-bottom: 1px solid #F09415;
	witdh: 100%;
	height: 67px;
}

/*****************************************************************************/     
/* tableau de resultats                                                     **/
/*****************************************************************************/  
.resultats { width: 90%; }
.resultats a:link, .resultats a:visited { font-weight: bold; text-decoration: none;}
.resultats a:hover { font-weight: bold; text-decoration: none;}  
.resultats tr td {
	 white-space:  nowrap;
	 padding-left: 5px;
	 padding-right: 5px;
}
.odd { background-color:#EEEEEE; }
.header { background-color:#F09415; }

.note { font-size:smaller; }

.icones a { padding: 3px; }
.icones a img { border: 0px; }
.icones a:link, .icones a:visited { text-decoration: none; }
.icones a:hover { text-decoration: none; }  



.meta                 { width:100%; }
.meta .titre          { text-align:center; vertical-align:top; font-weight: bold;}
.meta .rubrique       { font-weight: bold;  text-align: left;}
.meta .descripteur    { white-space:  nowrap; font-weight: bold; font-family:Arial; text-align:right; vertical-align:baseline;}
.meta .valeur         {
	text-align:left;
	vertical-align:baseline;
	font-family: "Arial";
}
.meta .comment        { border: solid 1px; padding:10px; width:100%; background-color:#EEEEEE; }




a img.sansBordure {border: 0; vertical-align:baseline;}
     
         
         
      